<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.DataMapper" >
    <select id="list" resultType="com.example.mybatis.model.DataModel">

    select stu.stu_id as stuId
    ,stu.stu_name as stuName
    ,stu.stu_cla_id as stuClaId
    from students stu
    where stu.stu_cla_id =#{claId}
    </select>
    
    <select id="selectStuById" resultType="com.example.mybatis.model.DataModel" parameterType="java.lang.Integer">
        select stu.stu_id as stuId
             ,stu.stu_name as stuName
             ,stu.stu_cla_id as stuClaId
        from students stu
        where stu.stu_id =#{stuId}
    </select>
</mapper>